name: Deploy Test

on:
  push:
    branches: ['master']

permissions:
 id-token: write
 contents: read

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: test

    steps:
      - uses: actions/checkout@v4

      - name: Run build
        run: echo "Test Build running..."${{github.ref}}

      - name: Authenticate to GCP (Test)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/169594489917/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider
          service_account: sa-dev-deployer@fifth-subject-447111-f6.iam.gserviceaccount.com

      - name: Verify auth
        run: gcloud auth list

      - name: Test auth
        run: | 
          gcloud auth login --brief
          gcloud auth print-access-token
        
