name: Test

on:
  push:
    branches: ['master']

permissions:
 id-token: write
 contents: read

jobs:
  deploy-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run build
        run: echo "Test Build running..."${{github.actor}}

      - name: Authenticate to GCP (Test)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/169594489917/locations/global/workloadIdentityPools/github-actions-pool/providers/github
          service_account: sa-dev-deployer@fifth-subject-447111-f6.iam.gserviceaccount.com

      - name: Debug OIDC claims (optional)
        run: |
          curl -s "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=google-wif" \
          -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
          | jq -r '.value' \
          | awk -F. '{print $2}' | base64 -d | jq

      - name: Inspect GitHub Token Claims
        run: echo "$ACTIONS_ID_TOKEN_REQUEST_TOKEN" | cut -d'.' -f2 | base64 --decode
      
      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet
  
      - name: Build Docker image
        run: |
          docker build -t asia-south1-docker.pkg.dev/fifth-subject-447111-f6/dev-api-repo/${{ github.actor }}-api:${{ github.sha }} .
  
      - name: Push Docker image
        run: |
          docker push asia-south1-docker.pkg.dev/fifth-subject-447111-f6/dev-api-repo/${{ github.actor }}-api:${{ github.sha }}
  
      - name: Set GCP project
        run: |
          gcloud config set project fifth-subject-447111-f6
  
      # - name: Deploy to Cloud Run
      #   run: |
      #     gcloud run deploy test-api \
      #       --image asia-south1-docker.pkg.dev/fifth-subject-447111-f6/dev-api-repo/${{ github.actor }}-api:${{ github.sha }} \
      #       --region asia-south1 \
      #       --platform managed \
      #       --allow-unauthenticated      

        
